@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* Pantallas */

@desktop: 1200px;
@tablet: 768px;
@mobile: 320px;
:root {
  /*Fuentes*/
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --menu-blanco: #ffffff;
  --openSans: 'Open Sans', sans-serif;
  --rubik: 'Rubik', sans-serif;
  /* Colores */
  --title-nav: #FFFFFF;
  --titles: #099D8D;
  --sub-titles: #000000;
  --textos: #54585a;
  --text-footer: #B8B8B9;
  --gris-perfil: #E5E7E9;
}

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

header {
  margin-bottom: 45px;
}

header article.nav .menu {
  opacity: 0.8;
}

header article.nav .menu .grid {
  margin: 0;
}

.ui.inverted.teal.menu .item {
  border: none;
  border-color: transparent !important;
}

.ui.inverted.teal.menu .item:before {
  background-color: transparent;
}

.ui.inverted.teal.menu .header,
.ui.inverted.teal.menu .item {
  color: var(--menu-blanco);
  font-family: var(--rubik);
  font-weight: var(--medium);
  text-transform: uppercase;
}

.ui.inverted.teal.menu .item.header {
  font-size: 16px;
  height: 60px;
}

.ui.inverted.teal.menu .item {
  font-size: 15px;
}

.item.right {
  padding: 0px;
}

.hero {
  background-color: #d3acf0;
  background-image: url("./../img/banner1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero-contacto {
  background-color: #d3acf0 !important;
  background-image: url("./../img/banner3.png") !important;
  background-position: bottom center !important;
}

@media screen and (min-width: 320px) {
  .item.right {
    height: 45px;
  }
  .right a.item {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .hero {
    height: 421px;
  }
  .hero div.box {
    width: 290px;
    top: 22rem;
    left: 1rem;
  }
  main .ui.container .equipo::after {
    top: 115%;
  }
  main #quienes-somos .ui.items .item .content {
    padding: 0;
  }
  #quienes-somos .item .image {
    width: 180px;
    height: 180px;
  }
  footer .ui.stackable.divided.equal.height.grid {
    text-align: center;
  }
  #footerMenu {
    border-top: none;
  }
}

@media screen and (min-width: 768px) {
  .item.right {
    height: 60px;
  }
  .hero {
    height: 421px;
  }
  .hero div.box {
    width: 412px;
    top: 23.9rem;
    left: 2rem;
  }
  main .ui.container .equipo::after {
    top: 89.8%;
  }
  #quienes-somos .item .image {
    width: 250px;
    height: 250px;
  }
  footer .ui.stackable.divided.equal.height.grid {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 550px;
  }
  .hero div.box {
    width: 421px;
    top: 33.15rem;
    left: 7rem;
  }
  main .ui.container .equipo::after {
    top: 94.7%;
  }
  #quienes-somos .item .image {
    width: 278px;
    height: 278px;
  }
  footer .ui.stackable.divided.equal.height.grid {
    justify-content: space-between;
  }
}

.hero img {
  height: 100%;
}

.hero div.box {
  background-color: white;
  opacity: .9;
  padding: 15px 30px;
  position: absolute;
  line-height: 1.2;
}

.hero div.box,
.hero .box a {
  color: #000000;
  font-size: 24px;
  font-family: var(--openSans);
  font-weight: var(--semi-bold);
}

main {
  margin-bottom: 60px;
}

main section#equipo {
  text-align: center;
  margin-bottom: 60px;
}

main .ui.container .equipo::after {
  display: block;
  position: absolute;
  z-index: 2;
  content: '';
  border: medium none;
  background-color: #ffffff;
  /* left: 50%; */
  right: 50%;
  bottom: 0%;
  width: 2em;
  height: 2em;
  border-style: solid;
  border-color: rgba(34, 36, 38, 0.15);
  border-width: 0px 0px 1px 1px;
  -webkit-transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, -webkit-box-shadow 0.1s ease;
  -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
  transform: translateY(-50%) translateX(50%) rotate(-45deg);
}

h1,
h2 {
  color: var(--titles);
  font-family: var(--rubik);
  font-weight: var(--medium);
  text-align: center;
}

h1 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

h2 {
  font-size: 22px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.ui.items>.item>.content>h3.header {
  font-size: 20px !important;
  color: var(--sub-titles);
  font-family: var(--openSans);
  font-weight: var(--regular);
}

.ui.items>.item>.content>h4 {
  font-family: monospace;
}

p {
  color: var(--textos);
  font-size: 16px;
  font-family: var(--openSans);
  font-weight: var(--regular);
  text-align: center;
}

main #forDebil {
  background-color: lightgray;
  margin-bottom: 45px;
}

#forDebil .ui.segment {
  background: transparent;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

main #quienes-somos {
  margin-bottom: 60px;
}

main #quienes-somos .ui.items .perfilOne p,
main #quienes-somos .ui.items .perfilThree p {
  text-align: left;
}

main #quienes-somos .ui.items .perfilOne .content,
main #quienes-somos .ui.items .perfilThree .content {
  padding-left: 45px;
}

main #quienes-somos .ui.items .perfilTwo .content {
  padding-right: 45px;
  padding-left: 0;
}

main #quienes-somos .ui.items .perfilTwo,
main #quienes-somos .ui.items .perfilTwo p {
  text-align: right;
}

main #quienes-somos .ui.items .perfilOne .image,
main #quienes-somos .ui.items .perfilTwo .image,
main #quienes-somos .ui.items .perfilThree .image {
  background-color: var(--gris-perfil);
  padding: 5px;
  border-radius: 5px;
}

main #quienes-somos .ui.items .perfilOne .image img,
main #quienes-somos .ui.items .perfilTwo .image img,
main #quienes-somos .ui.items .perfilThree .image img {
  border-radius: 5px;
  height: 100%;
}

main #quienes-somos .ui.items .perfilOne .content a,
main #quienes-somos .ui.items .perfilTwo .content a,
main #quienes-somos .ui.items .perfilThree .content a {
  color: teal;
}

main #quienes-somos .ui.items .perfilOne .content a:hover,
main #quienes-somos .ui.items .perfilTwo .content a:hover,
main #quienes-somos .ui.items .perfilThree .content a:hover {
  color: #1e70bf;
}

footer.ui.vertical.footer.segment {
  border-top: 1px solid rgba(34, 36, 38, .15);
  padding-bottom: 60px;
}

footer #footerMenu {
  box-shadow: none;
}

#formulario {
  margin-top: 60px;
  margin-bottom: 120px;
}